{% extends "layout.html" %}
{% block title %}Film di {{ director['name'] }}{% endblock %}
{% block content %}
<h1>Film diretti da {{ director['name'] }}</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for film in films %}
    <div class="col">
        <div class="card h-100">
            <a href="{{ url_for('film_detail', film_id=film['id']) }}">
                <img src="{{ url_for('static', filename='favicon/' ~ film['image']) }}" class="card-img-bottom layout-img" alt="{{ film['title'] }}">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">{{ film['title'] }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mt-4">
    <a href="{{ url_for('index') }}" class="btn btn-primary">Torna alla home</a>
</div>
{% endblock %}